/* Importing variables from a separate file */
@import './variables.css';

  .card-container {
    container-type: inline-size;/*Setting the container type*/
    width:350px;
    margin: 10px auto;
    background-color: var(--bg-color);
    border-radius: 8px;
  }

  .card {
    background-color: var(--card-bg-color);
    border: 5px solid;
    border-color: var(--card-border-color);
    padding: 16px;
    border-radius: 8px;
  }
  
  .card-title {
    color: var(--card-text-color);
    margin-bottom: 8px;
    font-family: var(--card-font-family);
  }
  
  .card-description {
    color: var(--card-description-color);
  }
 
  /*Container query for the card-container based on the condition*/
  @container (max-width: 550px) {
    .card-container {
      max-width: 100%;
    }
  
    .card {
      padding: 8px;
      margin: 10px 10px;
    }
  
    .card p{
      font-size: 40px;
      font-weight: 300;
    }

    .card-title {
      font-size: 18px;
    }
  }

  /*Scoped styling for the h2 tags from .card-container to .card*/
  @scope (.card-container) to (.card) {
    h2 {
      font-size: 30px;
      font-weight: 100;
      font-style: italic;
      color:var(--card-description-color)
    }
}