:root {
    --card-bg-color: #9cfcff;
    --bg-color:#fd9eff;
    --card-border-color: #777e25;
    --card-text-color: #003ffb;
    --card-description-color: #fe0000;
    --card-font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }