//font types
$font-family: 'Arial', sans-serif;

//colors
$body-background-color:#f0f0f0;
$primary-color: #007bff;
$secondary-color:#28a745;
$special-color: #ff6600;

//button-radius
$default-button-radius:5px;
