@import 'variables';

body {
  font-family: $font-family;
  background-color: $body-background-color;
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px;
  color: #110f0f;
  border: none;
  border-radius: $default-button-radius;
  cursor: pointer;
}

.button-primary {
  @extend .button;
  background-color: $primary-color;
  font-weight: bold;
}

.button-secondary {
  @extend .button;
  background-color: $secondary-color;
  border: 2px solid #2831a7; 
}

.special-button {
  @extend .button; 
  background-color: $special-color;
  text-transform: uppercase;
}

